.main-view {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.active {
    color: green;
    font-weight: bolder;
}

.delete-todo-item {
    cursor: pointer;
}

.delete-todo-item:hover {
    color: red;
    font-weight: bolder;
}